body {
  background-image: url("../public/photo-1618083707368-b3823daa2726.avif");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
h1 {
  font-family: poppins;
}
p {
  font-family: roboto;
}
button,
NavLink {
  font-family: montserrat;
}
